/* General Styles */
body {
  font-family: 'Inclusive Sans', sans-serif;
    margin: 0;
  padding: 0;
}

P{
  text-align: justify;
  font-family: 'Kanit', sans-serif;
}

/* Header and Navigation Styles */
header {
  color: #dd0c0c;
  padding: 20px 0;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  
}

.custom-dropdown .dropdown-item {
  color: #dd0c0c;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.custom-dropdown .dropdown-item:hover {
  
  color:#007bff;

}

h1,h2,th{
  font-family: 'Inclusive Sans', sans-serif;
  color: #dd0c0c;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
}

.nav-link {
  color: #e02825;
  margin-left: 30px;
  font-size: 20px;

}

.navbar-brand img {
  height: 100px;
  width: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; 
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: #007bff;
}

/* Search form */
form.d-flex {
  margin-left: auto; 
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

/* Car Kit Section Styles */
.car-kit {
  position: relative;
  perspective: 1000px; 
  text-align: center;
    margin-bottom: 30px;
}

.car-image {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.car-image img {
  max-width: 80%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); 
  transition: background-color 0.4s ease-in-out;
}

/* Apply 3D effect on hover */
.car-kit:hover .car-image {
  transform: rotateY(15deg); 
}

.car-kit:hover .car-image img {
  transform: scale(1.1); 
}

.car-kit:hover .overlay {
  background-color: rgba(255, 255, 255, 0); 
}

.carousel-item img {
  display: block;
  margin: 0 auto;
}

/* Footer Styles */
#myFooter  {
  font-family: 'Inclusive Sans', sans-serif;
  width: 100%;
  background-color: #e02825;
  color: #fff;
  text-align: center;
 padding-top: 20px;
}

.btn{
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bolder;
}

